<div class="mini-banner auto">
	<div class="container">
		<h2>Add new department</h2>
	</div>
</div>

<div class="sub-banner">
	<div class="container">
		<h2 class="form-signin-heading">you can add new department here</h2>

    <% if (messages && messages['error'].length > 0) { %>
      <div class="alert alert-danger">
      <% messages['error'].forEach(function(message) { %>
        <%= message %>
        <br>
      <% }); %>
      </div>
      <br>
    <% } %>
    <% if (messages && messages['warning'].length > 0) { %>
      <div class="alert alert-warning">
      <% messages['warning'].forEach(function(message) { %>
        <%= message %>
        <br>
      <% }); %>
      </div>
      <br>
    <% } %>
	</div>
</div>

<div class="container">
	<form action="/department/create" method="POST" class="form-signin">
		Please enter the name of the department
    <br>
    <br><br>
		<label>Department Name: </label><input type="text" class="form-control" placeholder="department name" name="departmentName" tabindex="1">
    <!--<label>GPG Public Key ID: </label> <div class="pull-right"><a href="#GPGModal" data-toggle="modal" tabindex="2">(?)</a></div>
		<input type="text" class="form-control" placeholder="64CD7S" name="publicKeyID" tabindex="1">
		<label>GPG Public Key:</label> <div class="pull-right"><a href="#GPGModal" data-toggle="modal" tabindex="2">(?)</a></div>
		<br>
		<textarea class="form-control" placeholder="copy your public key here. please include the BEGIN header and the END header." name="publicKey" tabindex="1"></textarea>
		-->
    <br>
    
		<input type="submit" class="btn btn-md btn-primary btn-block" value="Create" tabindex="1">
		<input type="hidden" name="_csrf" value="<%= _csrf %>" />
	</form>
</div>