<div class="mini-banner auto">
	<div class="container">
		<h2>Login Form</h2>
	</div>
</div>

<div class="sub-banner">
	<div class="container">
		<h2 class="form-signin-heading">Welcome to moocCR!</h2>

    <% if (messages && messages['error'].length > 0) { %>
      <div class="alert alert-danger">
      <% messages['error'].forEach(function(message) { %>
        <%= message %>
        <br>
      <% }); %>
      </div>
      <br>
    <% } %>
   <!--delete warning part-->
      <br>
	</div>
</div>

<div class="container">
  <form action="/user/dev_login" method="POST" class="form-signin">
    Please enter your email and password:
    <br>
    <br><br>
    <label>Email: </label><input type="email" class="form-control" placeholder="your email" name="email" tabindex="1">
    <label>Password: </label><input type="password" class="form-control" placeholder="your password" name="password" tabindex="1">
    <!--<label>GPG Public Key ID: </label> <div class="pull-right"><a href="#GPGModal" data-toggle="modal" tabindex="2">(?)</a></div>
    <input type="text" class="form-control" placeholder="64CD7S" name="publicKeyID" tabindex="1">
    <label>GPG Public Key:</label> <div class="pull-right"><a href="#GPGModal" data-toggle="modal" tabindex="2">(?)</a></div>
    <br>
    <textarea class="form-control" placeholder="copy your public key here. please include the BEGIN header and the END header." name="publicKey" tabindex="1"></textarea>
    -->
    <br>
    
    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Login" tabindex="1">
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
  </form>
</div>
